* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  height: auto;
}

.header {
  background-color: #2f3136;
}

p {
  min-height: 12em;
}

.container {
  max-width: 2264px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.container__f {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer {
  background-color: #2f3136;
  padding: 3% 0;
  margin-top: 5%;
}

.mailsend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.logo {
  padding: 3% 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.logo__f {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.contact {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 6%;
  padding-right: 7%;
}

.contact .fa-vk {
  padding: 17% 15%;
}

.contact .fa-facebook-f {
  padding: 26% 54%;
}

i {
  border: 6px solid #656566;
  color: #656566;
  font-weight: 500;
  font-size: 70px;
  line-height: 65px;
  border-radius: 150px;
}

i:hover {
  background-color: #656566;
  color: #2f3136;
}

.iconmail {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 5% 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-control, .name, .email, .button, .div_one, .div_two, .p1, .p2, .dark, h1 {
  color: #d7d7d7;
  font-size: 70px;
  font-weight: 500;
  line-height: 65px;
}

.form-control {
  margin-top: 5%;
}

em {
  color: red;
}

.grid1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.grid2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.grid3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.textcoment {
  color: #d7d7d7;
  height: calc(11em + 0.5em);
}

.coment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 5%;
}

.coment .namemail {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.coment .namecoment {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.coment .adress {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 6%;
  position: relative;
}

.coment .adress .button {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-color: #be393b;
  color: #ffffff;
  padding: 7%;
  border-radius: 25px;
  border: 1px solid #be393b;
  position: absolute;
  right: 0px;
}

.coment .adress .button:hover {
  background-color: #ffffff;
  color: #be393b;
}

.dark {
  margin: 15% 0;
  color: #37414e;
  font-size: 86px;
}

.form-control {
  border: 3px solid rgba(255, 255, 255, 0.52);
  border-radius: 15px;
  background-color: #2f3136;
  padding: 10% 9%;
}

.form-control:hover {
  border: 3px solid rgba(190, 57, 59, 0.49);
}

.form-control:active {
  background-color: #2f3136;
}

h2 {
  color: #37414e;
  font-size: 86px;
  font-weight: 500;
  line-height: 65px;
  text-align: center;
}

.table1 {
  width: 29%;
}

h1 {
  padding-top: 5%;
  margin: 0;
}

.div_one {
  text-align: center;
  background-color: #4b596c;
  word-break: break-all;
}

.div_two {
  text-align: center;
  background-color: #58ad52;
  word-break: break-all;
}

.p1 {
  padding: 19%;
  margin-top: 7%;
  background-color: #979595;
  color: #767582;
  word-break: break-all;
}

.p1 b {
  margin-bottom: 1%;
}

.p2 {
  padding: 19%;
  margin-top: 7%;
  color: #768275;
  background-color: #8dc58d;
  word-break: break-all;
}

.p2 b {
  margin-bottom: 1%;
  color: #58ad52;
}

.gridwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4%;
  grid-row-gap: 5%;
}

input {
  background-color: #2f3136;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1052px;
  }
  .table1 {
    width: 29%;
  }
  .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .contact {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .adress {
    width: 92%;
  }
  .form-control, .name, .email, .button, .div_one, .div_two, .p1, .p2, .fab, h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .textcoment {
    height: calc(12em + 1.5em);
  }
  .imgwidth {
    width: 50%;
  }
  .imgwidth_1 {
    width: 35%;
  }
  h2 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
  .gridwrap {
    grid-row-gap: 2%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .table1 {
    width: 97%;
  }
  .coment .namemail {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .coment .namecoment {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .logo__f {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .contact {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imgwidth {
    width: 92%;
  }
  footer {
    padding: 8% 0;
  }
}
/*# sourceMappingURL=style.css.map */