* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
$width-site: 2264px;
.header {
    background-color: #2f3136;
}
p {
    min-height: 12em; 
}
.container {
    max-width: $width-site;
    display: grid;
    grid-template-columns: 1fr;
    &__f {
        grid-template-columns: repeat(2, 1fr);
    }
}
footer {
    background-color: #2f3136;
    padding: 3% 0;
    margin-top: 5%;
}
.mailsend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.logo {
    padding: 3% 0;
    grid-column: 1/3;
    &__f {
        grid-column: 1/2;
    }
}
.contact {
    grid-column: 2/3;
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column-gap: 6%;
    padding-right: 7%;
    .fa-vk {        
        padding: 17% 15%;
        width: auto;
    }
    .fa-facebook-f {
        padding: 26% 54%;
        width: auto;
    }
}
.iconmail {
    grid-column: 1/3;
    padding: 5% 0 4%;
    display: flex;
    justify-content: center;
}
.form-control, .name, .email, .button, .div_one, .div_two, .p1, .p2, .dark, h1 {
    color: #d7d7d7;
    font-size: 70px;
    font-weight: 500;
    line-height: 65px;
}
.svg-inline--fa {
    border: 6px solid #656566;
    color: #656566;
    font-weight: 500;
    font-size: 70px;
    line-height: 65px;
    border-radius: 150px;
    &:hover {
        background-color: #656566;
        color: #2f3136;
    }
}
.form-control {
    margin-top: 5%;
}
em{
    color: red;
}
.grid1 {
    grid-row: 1/2;
}
.grid2 {
    grid-row: 2/3;
}
.grid3 {
    grid-row: 1/3;
}
.textcoment {
    color: #d7d7d7;
    height: calc(11em + 0.5em);
}
.coment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    justify-content: space-around;
    grid-gap: 5%;
    .namemail {
        grid-column: 1/2;        
    }
    .namecoment {
        grid-column: 2/3;
    }
    .adress {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 6%;
        position: relative;        
        .button {
            grid-row: 3/4;
            background-color: #be393b;
            color: #ffffff;
            padding: 7%;
            border-radius: 25px;
            border: 1px solid #be393b;
            position: absolute;
            right: 0px;
            &:hover {
                background-color: #ffffff ;
                color: #be393b;
            }
        }
    }
}
.dark {     
    margin: 15% 0;
    color: #37414e;
    font-size: 86px;
}
.form-control {
    border: 3px solid rgba(255, 255, 255, 0.52);
    border-radius: 15px;
    background-color: #2f3136;
    padding: 10% 9%;
    &:hover {
        border: 3px solid rgba(190, 57, 59, 0.49);
    }
    &:active {
        background-color: #2f3136;
    }
}
h2 {
    color: #37414e;
    font-size: 86px;
    font-weight: 500;
    line-height: 65px;
    text-align: center;
}
.table1 {
    width: 29%;
}
h1 {
    padding-top: 5%;
    margin: 0;
}
.div_one {
    text-align: center;
    background-color: #4b596c;
    word-break: break-all;
}
.div_two {
    text-align: center;
    background-color: #58ad52; 
    word-break: break-all; 
}
p {
    padding: 19%;
    margin-top: 7%;
    color: #767582;
    word-break: break-all; 
    b {
        margin-bottom: 1%;
    } 
}
.p1 {
    background-color: rgb(151, 149, 149); 
}
.p2 {
    background-color: rgb(141, 197, 141); 
    b {
        color: #58ad52;
    } 
}
.gridwrap {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/3;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4%;
    grid-row-gap: 5%;
}
input {
    background-color: #2f3136;
}
@media screen and (max-width: 1440px) {
    $width-site: 1052px;  
    .container {
        max-width: $width-site;
    } 
    .table1 {
        width: 29%;        
    }
    .logo {
        grid-column: 1/13;
    }
    .contact {
        grid-column: 2/3;
    }
    .adress {
        width: 92%;
    }
    .form-control, .name, .email, .button, .div_one, .div_two, .p1, .p2, h1 {
        font-size: 26px;
        line-height: 30px;
    }    
    .svg-inline--fa {
        font-size: 50px;
        line-height: 30px;
    }
    .textcoment {
        height: calc(12em + 1.5em);
    }
    .imgwidth {
        width: 50%;
        &_1 {
            width: 35%;
        }
    }  
    h2 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }
    .gridwrap {
        grid-row-gap: 2%;
    }
}
@media screen and (max-width: 375px) {
    $width-site: 375px;   
    .container {
        max-width: $width-site;
    }  
    .table1 {
        width: 97%;        
    }    
    .coment {
        .namemail {
            grid-column: 1/3;
            grid-template-rows: repeat(2, 1fr);
        }
        .namecoment {
            grid-column: 1/3;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
        }
    }    
    .logo__f {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .contact {
        grid-column: 1/3;
        grid-row: 2/3;
        justify-content: center;
    }
    .imgwidth {
        width: 92%;
    }
    footer {
        padding: 8% 0;
    }
}